extends base

mixin navItem(link, text, icon, active)
    li(class=`${active ? 'side-nav--active' : ''}`)
        a(href=`${link}`)
            svg
                use(xlink:href=`img/icons.svg#icon-${icon}`)
            | #{text}

block content
    main.main
        .user-view
            nav.user-view__menu
                ul.side-nav
                    +navItem('#', "הגדרות" ,'settings', true)
                    +navItem('#', "המוצרים שלי", 'briefcase')
                    +navItem('#', "חיובים", 'credit-cart')
            .user-view__content
                .user-view__form-container
                    h2.heading-secondary.ma-bt-md הגדרות משתמש
                    form.form.form-user-data
                        .form__group
                            label.form__label(for='name') שם
                            input#name.form__input(type='text', value=`${user.name}`, required, name='name')
                        .form__group.ma-bt-md
                            label.form__label(for='email') כתובת מייל
                            input#email.form__input(type='email', value=`${user.email}`, required, name='email')
                    .form__group.right
                        button.btn.btn--small.btn--green שמור הגדרות

                        .line &nbsp;
                        .user-view__form-container
                            h2.heading-secondary.ma-bt-md שנה סיסמה
                            form.form.form-user-settings
                                .form__group
                                    label.form__label(for='password-current') סיסמה נוכחית
                                    input#password-current.form__input(type='password', placeholder='••••••••', required, minlength='8')
                                .form__group
                                    label.form__label(for='password') סיסמה חדשה
                                    input#password.form__input(type='password', placeholder='••••••••', required, minlength='8')
                                .form__group.ma-bt-lg
                                    label.form__label(for='password-confirm') אשר סיסמה
                                    input#password-confirm.form__input(type='password', placeholder='••••••••', required, minlength='8')
                                .form__group.right
                                    button.btn.btn--small.btn--green שמור סיסמה חדשה