extends base

block content
    main.main
        .card-container

            each item in items
                .card
                    .card__header
                        .card__picture
                            .card__picture-overlay &nbsp;
                            img.card__picture-img(src=`${item.imgPath}`, alt=`${item.name}`)


                    .card__details
                        h1=item.name
                        h4.card__sub-heading= `  אומנ.ית: ${item.artist} `
                        p.card__text= item.summary

                    .card__footer
                        p
                            span.card__footer-value= `${item.price} ₪`
                        p.card__ratings
                        a.btn.btn--green.btn--small(href=`/item/${item._id}`) לפרטים
